@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext);

.search-bar input {

	background-color: white !important;
	font-family: 'Open Sans',sans-serif !important;
	font-weight: 600 !important;
	height: 60px;
	width: 100% !important;
	line-height: 60px;
	/* border: none; */
	font-size: 18px;
	padding-left: 20px;
	z-index: 1000;
	position: relative;
	margin-top: -30px;
	/* width: calc(100% - 20px); */
}
	.search-bar::placeholder {
		color: gray;
		font-size: 18px;
		font-weight: 400;
	}
	::-webkit-input-placeholder {
		color: gray;
		font-size: 18px;
		font-weight: 400;
		

	}
	:-ms-input-placeholder {
		color: gray;
		font-size: 18px;
		font-weight: 600;
		
	}
	
.css-dmx3ll-InputIcon-left {
	margin-top: -15px !important;
}

.css-c4vjye-InputIcon-right {
	margin-top: -15px !important;

}


.css-x2306x-pagination {
	margin-top: 10px !important;
	font-size: 18px;
	font-weight: 600;
}


.css-iioxla-Button:a {
	background-color: #390754 !important;
	-webkit-text-fill-color: white;
	margin: 20px !important;
	padding: 10px !important;
	letter-spacing: 2 !important;

}

.css-x2306x-pagination .css-iioxla-Button {
	background-color: white !important;
	color: black !important;
	padding: 10px;
}




.css-1ek36dp-PoweredByImage  {
	display: none;
}
.css-14t2e2-Button {
	background-color: #390754 !important;
}

/* .css-x2306x-pagination a {
	margin-right: 20px !important; 

}

.css-x2306x-pagination .css-iioxla-Button {
	margin-left: 20px !important;
} */

.toggle-button {
	margin-top: 20px !important;
}